*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: "Poppins";
    background-color: #ffcf70;
    color: #cbd5e1;
    line-height: 1.7;
    backdrop-filter: blur(10px);
}

h1 {
  font-family: "Henny Penny", system-ui;
}

h3{
    color: white;
}

h2, h4 {
    font-family: "Henny Penny", system-ui;
    color: #ffffff;
    line-height: 1.2;
}
